.navbar {
  width: 100%;
  background: #6d28d9;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.links a:hover {
  opacity: .7;
}
